* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: whitesmoke; */
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
}
body{
    background-color: whitesmoke;

}
html{
    scroll-behavior: smooth;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffff80 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 23px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffff80;
    border-radius: 43px;
    border: 12px double #ffff80;
  }
a {
    font-size: 20px;
    font-weight: 800;
}
section{
    width: 90%;
    margin: auto;
    margin-top: 70px;
}

#myBtn{
  display: none;
}